.glide {
  grid-column-start: 2;
  z-index: 0;
  width: 100%;
  border-left: solid $pokedarkgrey 2px;
  border-right: solid $pokedarkgrey 2px;
}

.glide__track,
.glide__slides {
  @include width-height100();
}

.glide_slides {
  filter: blur(6px);
  opacity: 0.7;
  transition: 0.3s linear;
}

.slide {
  @include sliderimage();
  p {
    @include carousel-text();
  }
}

.slide.one {
  background-image: url("../../static/assets/netflix.png");
}

.slide.two {
  background-image: url("../../static/assets/swordshield.png");
}
.slide.three {
  background-image: url("../../static/assets/stats.png");
}
.slide.four {
  background-image: url("../../static/assets/pokemonhome.png");
}

.glide__bullets {
  bottom: 12px;
}
