.tab-container {
  position: relative;
  top: -108px;
  border-radius: 0px 0px 20px 20px;
  color: whitesmoke;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(105px, 1fr));
  grid-template-rows: auto;
  width: 90%;
  height: 50px;
  z-index: 2;
}

.gen-tab {
  background-color: $pokegrey;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease-in-out;
  height: 60px;

  &#gen1 {
    @include tabhover($pokeblue, 3px);
  }
  &#gen2 {
    @include tabhover($pokered, 3px);
  }
  &#gen3 {
    @include tabhover($pokeorange, 3px);
  }
  &#gen4 {
    @include tabhover($pokeyellow, 3px);
  }
  &#gen5 {
    @include tabhover($pokegreen, 3px);
  }
  &#gen6 {
    @include tabhover($pokelightblue, 3px);
  }
  &#gen7 {
    @include tabhover($pokepink, 3px);
  }
  &#gen8 {
    @include tabhover($pokepurple, 3px);
  }

  &:hover {
    color: white;
    background-color: $pokedarkgrey;
  }
}
