.landing-wrapper {
  background-color: $pokegrey;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Baloo Tamma 2", cursive;
}

.hub-icon {
  width: 100px;
  height: 100px;
  background-image: url("../../static/assets/hub.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.overlay {
  background-color: $pokegrey;
  filter: opacity(0.1);
  width: 100%;
  height: 600px;
}

.landing-link {
  width: 100%;
  height: 600px;
  text-decoration: none;
  &:active {
    text-decoration: none;
  }
}
.pokedex-image {
  @include landing-image("../../static/assets/pokedexbg.jpg");
  border-bottom: solid black 1px;
}

.ash-image {
  @include landing-image("../../static/assets/ashbg.jpg");
}

.blurb {
  color: white;
  font-size: 50px;
  animation: appear-from-below;
  animation-duration: 2s;
}

@keyframes appear-from-below {
  0% {
    filter: opacity(0);
    transform: translateY(-10px);
  }
  100% {
    filter: opacity(1);
    transform: translateY(0px);
  }
}

@media screen and (max-width: 600px) {
  .blurb {
    font-size: 30px;
  }

  .landing-link {
    height: 500px;
  }
}
