.landing-wrapper {
  background-color: $pokegrey;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10vh 45vh 45vh;
  font-family: "Baloo Tamma 2", cursive;
}

.landing-link {
  text-decoration: none;
  height: 100%;

  &:active {
    text-decoration: none;
  }
}
.pokedex {
  grid-row-start: 2;
}
.ash {
  grid-row-start: 3;
}
.pokedex-image {
  @include landing-image("../../static/assets/pokedexbg.jpg");
}

.ash-image {
  @include landing-image("../../static/assets/ashbg.jpg");
}

.blurb {
  color: white;
  font-size: 4vw;
  animation: appear-from-above;
  animation-duration: 2s;
}
