.landing-wrapper {
  background-color: $pokegrey;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Baloo Tamma 2", cursive;
}

.landing-link {
  text-decoration: none;
  height: 100%;

  &:active {
    text-decoration: none;
  }
}

.pokedex-image {
  @include landing-image("../../static/assets/pokedexbg.jpg");
}


.blurb {
  color: white;
  font-size: 4vw;
  animation: appear-from-above;
  animation-duration: 2s;
}
