$pokeblue: #1b53ba;
$pokered: #e3350d;
$pokeorange: #ee6b2f;
$pokeyellow: #e6bc2f;
$pokegreen: #4dad5b;
$pokelightblue: #30a7d7;
$pokepink: #ff90c4;
$pokepurple: #855ac9;
$pokedarkgrey: #313131;
$pokegrey: #616161;

@mixin sliderimage {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

@mixin width-height100 {
  width: 100%;
  height: 100%;
}

@mixin carousel-text {
  background-color: rgba($color: #000000, $alpha: 0.3);
  border: solid rgba($color: #000000, $alpha: 0.2) 1px;
  width: 950px;
  height: 110px;
  position: absolute;
  text-align: center;
  bottom: -30px;
  color: whitesmoke;
  font-size: 40px;
  padding-left: 20px;
  text-shadow: 2px 2px 5px black;
}

@mixin tabhover($color) {
  border-bottom: solid 1px $color;
  &:hover {
    border: solid $pokedarkgrey 1px;
    background-color: $color;
    cursor: pointer;
  }
}
