.modal-content-wrapper {
  display: grid;
  grid-template-columns: 48% 52%;
  grid-template-rows: 30% 15% 40% 15%;
  height: 100%;
}

.pokedex-wrapper {
  width: 140px;
  margin-top: 25px;
  grid-column-start: 2;
  grid-row-start: 1;
  img {
    width: 50px;
  }
}

.pokemon-ability-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 120px;
  grid-column-start: 2;
  grid-row-start: 3;
}

.ability {
  font-size: 14px;
}

.pokemon-measurements {
  margin-top: 20px;
  height: 80px;
  width: 130px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  grid-row-start: 3;
}

.pokemon-type-wrapper {
  display: flex;
}

.pokemon-type {
  width: 80px;
  height: 30px;
}

.bulbapedia-link-wrapper {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  margin-top: 30px;
  transition: 0.5s ease-in-out;
  font-size: 14px;
  width: 400px;

  a {
    text-decoration: none;

    &:visited {
      color: darkred;
    }
  }

  &:hover {
    cursor: pointer;
    font-size: 15px;
  }
}
