button,
submit {
  border: none;
  background: none;
  &:focus {
    outline: none;
  }
}

.news-page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: url("../../static/assets/body_bg.png");
  font-family: "Baloo Tamma 2", cursive;
}

.divider {
  width: 100%;
  height: 50px;
  background-color: white;
  border-bottom: $pokegrey solid 5px;
  text-align: center;
  font-size: 40px;
  padding-bottom: 10px;
}

.news-container {
  width: 70%;
  height: 100%;
  background: $pokegrey url("../../static/assets/container_bg.png");
  border-right: solid 1px black;
  border-left: solid 1px black;
  border-bottom: solid 1px black;
  padding-top: 40px;
  padding-bottom: 40px;
  display: grid;
  align-items: center;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: auto;
  column-gap: 5px;
  row-gap: 40px;
  padding-left: 40px;
}

.news-card {
  background: white url("../../static/assets/container_bg.png");
  width: 90%;
  height: 320px;
  border-bottom: solid 3px $pokegrey;
  border-right: solid 4px $pokegrey;
  border-radius: 6px;
  text-align: center;
  transition: 0.5s ease-in-out;
  animation: slide-up 0.4s ease;
  p {
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
  }
}

.news-options {
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: flex-end;

  .options {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    padding-right: 5px;
    width: 80px;

    .option-button {
      width: 30px;
      height: 30px;
      font-size: 18px;
      transition: ease-in-out 0.2s;
      &:hover {
        cursor: pointer;
        .fa-times {
          color: red;
        }
        .fa-edit {
          color: $pokegreen;
        }
      }
    }
  }
}
.option-icon:hover {
  transition: ease-in-out 0.2s;
  color: $pokegreen;
}

.side-button {
  background: #fff url("../../static/assets/container_bg.png");
  position: fixed;
  bottom: 10%;
  right: 5%;
  height: 50px;
  width: 50px;
  border-radius: 30px;
  border: solid black 2px;
  transition: ease-in-out 0.3s;

  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}

.side-plus-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  font-size: 15px;
  transition: ease-in-out 0.3s;
  &:hover {
    cursor: pointer;
  }
}
